@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.c1{
    color: #BC8AC2;
}
.c2{
    color: #810b91;
}

