{% extends '../Layouts/layout.html' %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row mb-5">
        <div class="col">
            <h3 class="fw-bold text-center c1">Member list</h3>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-md-6 g-5 align-items-center">
        <div class="col">
            <div class="row">
                <img src="{% static 'image/profil.jpeg'%}" class="rounded-circle">
            </div>
            <div class="row mt-3">
                <h6 class="text-center fw-bold">Lintang Myra Siva</h6>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <img src="{% static 'image/profil.jpeg'%}" class="rounded-circle">
            </div>
            <div class="row mt-3">
                <h6 class="text-center fw-bold">Lintang Myra Siva</h6>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <img src="{% static 'image/profil.jpeg'%}" class="rounded-circle">
            </div>
            <div class="row mt-3">
                <h6 class="text-center fw-bold">Lintang Myra Siva</h6>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <img src="{% static 'image/profil.jpeg'%}" class="rounded-circle">
            </div>
            <div class="row mt-3">
                <h6 class="text-center fw-bold">Lintang Myra Siva</h6>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <img src="{% static 'image/profil.jpeg'%}" class="rounded-circle">
            </div>
            <div class="row mt-3">
                <h6 class="text-center fw-bold">Lintang Myra Siva</h6>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <img src="{% static 'image/profil.jpeg'%}" class="rounded-circle">
            </div>
            <div class="row mt-3">
                <h6 class="text-center fw-bold">Lintang Myra Siva</h6>
            </div>
        </div>
    </div>
</div>
{% endblock content %}