{% extends '../Layouts/layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="image.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" class= "fw bold">Lintang Myra Siva</h5>
                    <p class="card-text">My name is Lintang Myra Siva. My ID number is L200220250 - algorithm class C. i'm the initial display maker fro HTML,CSS and JS.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
{% endblock content %}
